/06Code/CoffeShopManagementSystem/nbproject/private/
04UMLDiagrams/**/*.puml
/06Code/CoffeShopManagementSystem/dist/
/06Code/CoffeShopManagementSystem/MONGO_MIGRATION_GUIDE.md
/06Code/CoffeShopManagementSystem/TEST_INSTRUCTIONS.md

